/*
~ ©Amiltone 2017
*/

/* ---------- Style CSS du programme Addvise ------------*/

#scrolltab {
    height: 100%;
}

.btn-action {

    margin-top: 5px;
    margin-bottom: 5px;
}
#div-addvise-gestion {
    margin: 2% 5% 0 5%;
}

#addvise-chercher {
    margin-top: 15px;
}

.fixed-table-container {
    z-index: 0; /* remettre les menus déroulants au premier plan */
}

#table-addvise-gestion {
    font-weight: normal;
}

#thead-addvise-gestion {
    background-color: #337ab7;
    color: white;
    font-weight: bold;
}

#table-addvise-gestion .addvise-row:nth-child(even), .ft_c .addvise-row:nth-child(even) {
    background-color: #e3e8fb;
}

div.addvise-multiple-header, div.addvise-multiple-col {
    margin: 0;
    width: 100%;
}

div.addvise-multiple-header > div:first-child {
    margin: 0;
    width: 100%;
    border-bottom: solid 1px white;
}

div.addvise-multiple-col > div {
    width: 48%;
    display: inline-block;
}

select#addvise-filtrer {
    width: 100px !important;
}

.cell-addvise-1 {
    width: 320px;
}

.addvise-division-col {
    border-bottom: solid 1px white;
    margin-bottom: 10px;
}

.cell-addvise-2 {
    width: 200px;
}

.cell-addvise {
    width: 200px;
}

.cell-addvise-hist {
    width: 200px;
}

th.cell-addvise-hist-SUPPRIMEE {
    background-color: #a94442;
}

#validate-addvise-session {
    float: right;
}

#btn-validate-addvise-session {
    margin-bottom: 30%;
}

.addvise-form-session {
    display: inline-block;
}

.session-etat-EN_COURS_DE_SAISIE {
    background-color: #084E93;
}

.session-etat-CONFIRMEE {
    background-color: #095228;
}

.missingInvit {
    font-size: 14px;
}

.redWarning {
    color: red;
}

a.btn-remove-session:hover {
    color: red;
}

a.btn-restore-session:hover {
    color: green;
}

.btn-restore-session-hist {
    color: white;
}
.addvise-tri {
    opacity: 0.5;
}
.addvise-tri:hover {
    opacity: 1;
}
.btn-confirm-session:hover {
    color: green;
}

.btn-print-session {
    color: white;
}

.btn-print-session:hover {
    color: orange;
}

.btn-addvise-modal-modification-session:hover {
    color: black;
}

.checkInvitDate{
    display: none;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.close-alert{
    float: right;
}

.close-alert:hover{
    cursor: pointer;
}

.icone:hover{
    cursor: pointer;
}
/* ---------- Icones d'invitation ------------*/

#icones_session {
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
}

.icone > img {
    width: 30px;
    height: 30px;
}

.icone-hist > img {
    height: 20px !important;
    width: 20px !important;
}

.form-control {
    display: inline-block;
    width: auto;
    height: 30px;
}

.form-group {
    padding-top: 10px;
    margin-bottom: 0px;
}

.sort-alphabetically-white, .sort-clock {
    margin-left: 20px;
}

.inline-form input {
    display: inline-block;
    width: 100px;
}

.countConfirmSpan {
    margin-left: 30px;
}

.countConfirm {
    width: 10px;
    height: 10px;
}

.session-modif > div {
    padding-bottom: 0;
}

/* ---------- Modale création de session ------------*/

.modal-header {
    min-height: 16.43px;
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    margin: 0;
    line-height: 2;
    font-size: 21px;
    text-align: center;
}

h4 {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.th-inner form {
    margin-bottom: 0;
}

#addvise-modification-form > select, #addvise-modal-modification-session > input,
#addvise-fields-creation-module > input, #addvise-fields-creation-formateur > input {
    display: inline-block;
    width: 28%;
}

.addvise-session-form > select, .addvise-session-form > input,
#addvise-fields-creation-module > input, #addvise-fields-creation-formateur > input {
    display:inline-block !important;
    width: 28% !important;
}

#addvise-fields-creation-formateur {
    margin-top: 5%;
}

#addvise-fields-creation-module, #addvise-fields-creation-help {
    margin-top: 35px;
    border-top: 1px solid #e5e5e5;
}

#addvise-field-creation-module-code {
    width: 62px;
}

.addvise-create-button {
    margin-bottom: 4px;
    padding: 4px 12px;
}

.table > tbody > tr > td {

    text-align: center;
}

.table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
}

.addvise-nb-collab {
    font-size: 18px;
}

#nb-collab {
    margin-top: 15px;
}

/* --------- Légende -----------*/

.img-legende {
    width: 30px;
    height: 30px;
}

.legende {
    padding-bottom: 10px;
}

#addvise-legende {
    margin-top: 50px;
}

.addvise-legend-bloc {
    display: inline-block;
    width: 20%;
}

.img-legende-bleu {
    background-color: #084E93;
    display: inline-block;
}

.img-legende-verte {
    background-color: #095228;
    display: inline-block;
}

.img-legende-rouge {
    background-color: #a94442;
    display: inline-block;
}

.legende > div {
    vertical-align: middle;
}

.exclus-addvise-true {
    color: #bbbbbb;
}

/* ---------- Tri date historique ------------*/

#addvise-tri-date {
    margin-top: 10px;
}

#addvise-tri-modules {
    margin-top: 10px;
    color: black;
    font-size: 14px;
}

.addvise-hist-datepicker  {
    font-size: 14px;
    padding-top: 10px;
    display: inline;
    color: black;
}

.datepicker-hist {
    width: 100px;
}

#btnMonthPicker {
    margin-bottom: 6px;
    margin-left: 10px;
}

#counter-module-date {
    clear: both;
    font-size: 14px;
    padding-top: 11px;
    color:black;
}

.counter-date-nombre {
    float:left;
}

/* ---------- Modale validation/confirmation de session ------------*/
.modal-confirm-title, .modal-remove-title {
    font-size: 25px;
    text-align: center;
}

.modal-confirm-session, .modal-remove-session, .modal-validate-session {
    font-size: 14px;
}
/* ---------- Fixer les en-têtes ------------*/

.ft_container table {
    border-width: 0;
    border-collapse: collapse;
    margin: 0;
    outline-style: none;
    background-color: #fff;
}

.ft_container table tr th {
    font-weight: bold;
}

.ft_container table thead {
    -moz-user-select: none;
    -webkit-user-select: none;
}

.ft_container table tr th,
.ft_container table tr td {
    border-collapse: collapse;
    padding: 0;
    word-wrap: break-word;
    border: 1px solid #CCCCCC;
    border-top-width: 0;
    border-left-width: 0;
    overflow: hidden;
}

.ft_container table tr:first-child td,
.ft_container table tr:first-child th {
    border-top-width: 1px;
    border-color: #CCCCCC;
}

.ft_container table tr td:first-child,
.ft_container table tr th:first-child {
    border-left-width: 1px;
    border-color: #CCCCCC;
}

.ft_container {
    overflow: hidden;
    padding: 0;
}

.ft_rel_container {
    position: relative;
    overflow: hidden;
    border-width: 0;
    width: 100%;
    height: 100%;
}

.ft_r, .ft_rc {
    background-image: none;
}

.ft_rc {
    position: absolute;
    z-index: 1005;
}

.ft_r, .ft_c {
    position: relative;
}

.ft_rwrapper, .ft_cwrapper {
    overflow: hidden;
    position: absolute;
    z-index: 1001;
    border-width: 0;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}

.ft_scroller {
    overflow: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

.ft_container tbody tr.ui-widget-content, thead.ui-widget-header {
    background-image: none;
}

.ft_container table.sorttable thead tr th {
    cursor: pointer;
}

/* ---------- Message Reponse Mail ------------*/

#messageReponseMailAddvise{
    font-size: 1.4em;
    width: 100%;
    text-align: center;
    margin: 25vh 0 0 0;
}


