/*
 * ©Amiltone 2017
 */

body {
    background: none repeat scroll 0 0 #ffffff !important;
    color: #515151;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 12px;
    cursor: auto;
}

html, body {
    height: 100%;
}

/*---------------------- header -------------------------------------*/
#header .navbar-default {
    background-color: #0B132B;
    border: none;
}

#selectMissionAM .navbar-default {
    background-color: #0B132B;
    border: none;
}

.navbar-brand {
    padding: 0 0;
}

.navbar-brand img {
    width: 80%;
}

.navbar-nav > li > a {
    font-size: 16px;
    color: #F9F9F9 !important;
    font-style: normal;
    font-weight: bold;
}

.navbar-nav > li > a:hover {
    color: #CE3089 !important;
}

#header .dropdown-menu, #header .dropdown-menu li {
    background-color: #0B132B;
}

.divider {
    background-color: grey !important;
    margin-left: 75px !important;
    margin-right: 75px !important;
}

#header .dropdown-menu li a {
    font-weight: bold;
    color: #F9F9F9;
    text-align: center;
}

#header .dropdown-menu li {
    text-align: center;
}

#header .dropdown-menu li a:hover {
    color: #0B132B !important;
}

#modalEditMissionSelect .bootstrap-select{
    width: auto;
    min-width: 300px;
}

.dropdown-menu{
    width: auto;
    min-width: 0;
    right:0;
}

.navbar-brand {
    padding: 0 0;
}

.glyphicon{
    cursor: pointer;
}

.glyphicon-question-sign {
    color: #00CC00;
}

.glyphicon-off {
    color: #FF6600;
}

.glyphicon-check {
    color: #f9f9f9;
}

#btn-sendRA[disabled] .glyphicon-check {
    color: #202020;
}

/*---------------------- titres -----------------------------------------------*/
h1 {
    color: #2f57a3;
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 3%;
}

.block-left h2 {
    color: #2f57a3;
    font-size: 120%;
    font-weight: bold;
    padding-left: 3%;
}

.title-right {
    color: #808080;
    float: left;
    width: 40%;
    font-size: 130% !important;
    margin: 0;
}

.title-right span {
    color: #2f57a3;
}

#tab-recap-histo span {
    font-size: 200%;
}

#titre-tableau {
    padding: 2px;

}
/*---------------------- custom du login -------------------------------------*/
#loginForm .col-sm-* { text-align: center; }
#loginForm label, #loginForm a, #loginForm .form-control { font-size: 1em; }
.text-info { font-size: 1em; }
#loginForm .btn-default:active,
#loginForm .btn-default:focus,
#loginForm .btn-default:hover {
    background-color: #CF308A;
    border-color: #CF308A;
    color: white;
}

#loginForm .btn-default { width: 100%; color: #ffffff; }
#loginForm label { text-align: right; }

#loginForm.panel-default {
    width: 70%;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: center;
    padding: 30px;
    box-shadow: 4px 4px 15px #ddd;
    -webkit-box-shadow: 4px 4px 15px #ddd;
    -moz-box-shadow: 4px 4px 15px #ddd;
}

#amilnote img {
    max-width: 50%;
    height: auto;
    margin-bottom: 5%;
}

.obligated {
    font-weight: bold;
    color: #A80000;
    margin-bottom: 0;
}

input.error,
input:invalid,
textarea.error,
textarea:invalid { border-color: #FBC2C4; }

.errorblock {
    color: #ff0000;
    background-color: #ffD6D6;
    border: 2px solid #ff0000;
    text-align: center;
    padding: 8px;
    margin: 16px;
}

#modalEditTabContent .input-group-addon {
    border: none;
    background-color: inherit;
    border-radius: inherit;
}

@media (min-width: 576px){
    #loginForm.panel-default { width: 550px; font-size: 1.2em; }
    #amilnote img { max-width: 30%; }

}

/*---------------------- containers site --------------------------- */
#calendar {
    padding: 3% 5% 5% 5%;
    max-width: 70%;
    float: left;
}

.block-right {
    min-width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    height: 75vh;
    margin-bottom: 0;
    border-color: #fff;
    box-shadow: 0 0 0 transparent;
}

.block-left {
    background-color: #ffffff;
    width: 20%;
    float: left;
    margin-bottom: 0;
    height: 75vh;
    box-shadow: 0 0 0 transparent;
}

/*--------------------------- intÃ©rieur block gauche ------------------ */
.accordion-part {
    margin-bottom: 0 !important;
    box-shadow: none !important;
}

#list-missionsAndAbsences.panel-body {
    padding: 0;
}

#list-missionsAndAbsences.panel-body:not(.parametrage) {
    text-transform: capitalize;
}

.panel{
    border: 0;
}

#list-missionsAndAbsences {
    box-shadow:0px 0px 0px 1px rgba(0,0,0, .1) inset;
}

.panel-collapse {
    margin-left: 5%;
    border-left: 1px solid #99CCCC;
    border-bottom: 1px solid #99CCCC;
}

.block-left .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #0B132B;
    margin-left: 5%;
}

#accordion .panel-title {
    padding-left: 3%;
    font-weight: bold;
    font-family: Comic Sans MS;
    cursor: pointer;
}

#accordion .panel-title:hover {
    text-decoration: none;
    color: #ffffff;
}

.aide-arrow {
    padding-top: 10%;
    padding-left: 5%;
}

#aide {
    display: block;
    float: left;
    margin-bottom: 5%;
    border: none;
    background-color: inherit;
}

#arrowLeft {
    float: right;
    padding-top: 5%;
}

#arrowLeft, #arrowRight {
    color: #99CCCC;
    font-size: 200%;
    text-decoration: none;
    background-color: inherit;
    border: none;
}

.block-aide {
    clear: both;
    text-align: justify;
    font-size: 110%;
    font-weight: bold;
    color: #2f57a3;
    padding-right: 3%;
}

.block-aide p {
    margin-bottom: 3%;
}

.btn-primary {
    border: none;
    text-align: center;
}

.btn-primary.active {
    border: 10px;
}

#list-missionsAndAbsences .badge, #list-group-typeAbsences .badge {
    height: 20px;
    width: 15%;
}

#list-missionsAndAbsences .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: 0;
    padding: 1px 0 0 0;
}

#list-missionsAndAbsences .panel-heading h2 {
    color: #fff;
}

#list-missionsAndAbsences .panelTitle-groupItem > span {
    float: right;
    margin-right: 15%;
}

/*--------------------------- intérieur block droit ------------------ */
.fullCalendarTitle {
    margin-left: 5%;
    float: right;
    padding-right: 5%;
}

.block-navig-forfait {
    box-sizing: border-box;
    padding-top: 2%;
    margin-right: 3%;
    width: 100%;
    height: 10%;
}

.block-navig-forfait .navbar-inner {
    float: left;
}

.block-total-new {
    display: block;
    height: 50px;
    clear: right;
    width: 70%;
    float: right;
}

.total {
    float: left;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 10%;
}

/* table {
	table-layout: fixed;
}
 */
.table {
    margin-bottom: 0;
}

.fixed-table-container {
    margin-bottom: 10px !important;
}

.modalWithScrolling > .bootstrap-table > .fixed-table-container {
    padding-bottom: 40px !important;
}

.fixed-table-body {
    height: inherit;
}

.div-table-content {
    max-height: 250px;
    font-size: 90%;
    text-align: center;
    width: 100%;
}

.div-table-content tbody > tr > td {
    border-bottom: 1px solid #ddd !important;
}

.btn-action {
    color: #F9F9F9;
    font-weight: bold;
    font-size: 110%;
}

.btn-action:hover {
    color: #C2C1C2;
}

.btn-action:focus {
    color: #F9F9F9;
}

#validate-frais {
    float: left;
}

#newFrais {
    float: right;
    margin-right: 5%;
}

.forfait-mission {
    box-sizing: border-box;
    float: right;
    border: 1px solid #808080;
    padding-top: 1%;
    padding-left: 1%;
    paddign-right: 1%;
    width: 30%;
    font-size: 90% !important;
    background-color: #99CCCC;
    margin-bottom: 10px;
}

.forfait-mission legend {
    font-size: 120% !important;
}

.forfait-mission ul {
    width: 100%;
    margin-bottom: 10%;
}

.forfait-mission ul li {
    float: left;
    width: 100%;
    margin-bottom: 5%;
}

.forfait-mission ul li label {
    width: 40%;
    text-align: left;
}

.forfait-mission ul li input {
    width: 15%;
    float: left;
    min-width: inherit;
}

#error-forfait textArea, #error-frais textArea {
    min-height: 125px;
}

#title-forfait {
    float: left;
    padding-top: 5%;
    padding-bottom: 5%;
}

.content-frais .nav-tabs {
    width: 70%;
    float: left;
    margin-bottom: 10px;
}

#listeFrais {
    box-sizing: border-box;
    width: 70%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}

.tab-frais {
    box-sizing: border-box;
    width: 70%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}

.block-right .tab-content, #delete-depense .tab-content {
    box-sizing: border-box;
    width: 70%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}

.tab-frais tbody tr {
    cursor: pointer;
}

.label-new {
    box-sizing: border-box;
    background-color: #eeeeee !important;
    border: 1px solid #cccccc !important;
    margin-bottom: 5px;
    width: 40%;
}

.tab-content tbody tr {
    cursor: pointer;
}

.ui-selected td {
    background: #99CCCC !important;
}

.btn-group {
    float: left;
    clear: right;
    padding-left: 5%;
    margin-bottom: 5px;
}

.mailError {
    text-decoration: underline;
    text-align: right;
    color: #428bca;
    display: block;
    margin-bottom: 5px;
    padding-right: 3%;
    float: right;
}

#btn-checkRA {margin-left: 1%;}
#btn-sendRA[disabled] {color: #202020; background-color: #e6e6e6;}
#btn-RASansFrais[disabled] {color: #202020; background-color: #e6e6e6;}

#sending-RA[disabled] {background-color: grey; border-color: grey;}

.delete {margin-bottom: 5%;}

.errorLine {
    display: block;
    clear: left;
    background-color: #f2dede;
    color: #a94442;
    font-weight: bold;
    font-size: 110%;
    padding: 2%;
}

/* ----------Fenêtre modale------------ */
#ModalEdit input[type="checkbox"] {
    width: 16px !important;
    height: 16px;
    background: #00bf00 !important;
}

#idGifLoading {z-index: 9999;}
#idDelSelectionButton {float: left;}

#ModalEdit #modalEditTabContent {
    min-height: 50px;
    border-left: 1px;
    border-bottom: 1px;
    border-right: 1px;
    border-top: 0;
    border-style: solid;
    border-color: #ddd;
    padding: 20px;
    background: #eee;
}

#modalValidAbsences #idMessageUtilisateur {font-size: 14px;}

#ModalEdit #modalEditTabHeader li.active {background: #eee;}
#ModalEdit #modalEditTabHeader li.active a {background: transparent;font-weight: bold;}
#ModalEdit #modalEditTabHeader li:not(.active) a {
    border: 1px solid rgba(192, 178, 255, .71);
}

#myModalLabelTitle {margin: 0;}

#modalEdit #modalEditBody {max-height: 200px;}

#modalEdit .modal-dialog,
#modalValidAbsences .modal-dialog {
    width: 700px !important;
}

.modal-dialog-forcerFactures {
    width: 1800px !important;
    height: 1000px !important;
}

.hideCalendar {background-color: #000;}

#ModalEdit .panel-title {margin-left: 0;}

#ModalEdit .modal-content {
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    width: 120%;
}

#ModalEdit td, #modalValidAbsences td {text-align: center;font-size: 12px;}
.btn-primary.active {color: black;}

.modal-header p {color: #2f57a3;font-weight: bold;}
.noSubmit {color: #a94442 !important;}

.tab-delete {
    width: 100%;
    float: inherit;
}

#modalPDF {height: 80%; width: 80%;}

#img-full .modal-body {height: 60vh;}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes spin {
    from {transform: scale(1) rotate(0deg);}
    to {transform: scale(1) rotate(360deg);}
}

.legendText { font-size: 10px; }
.warning-before { top: 100px; }
.warning-before .modal-dialog { width: 60%; }
#warning-before-frais .modal-content { background-color: #f2dede; }
#warning-before-frais .modal-content p { color: #a94442; }

#modalEditAbsenceLabelSelect {
    float: left;
    display: inline;
    margin-top: 1%;
    margin-right: 3px;
}

#idModalShowAbsence h2 { font-size: 17px; }
#idModalShowAbsence .modal-body { padding: 40px; }

/* ----------formulaires------------ */
.input-group {
    margin-bottom: 5px;
    width: 100%;
}

#error-forfait .input-group input, #error-frais .input-group input {
    width: 80%;
}

.form-control-date {
    box-sizing: border-box;
    float: left;
    height: 30px;
    padding: 5px 10px;
    width: 80%;
    margin: 0 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.input-group .input-group {
    width: 100%;
}

.input-group .input-group input {
    width: 61%;
    margin-right: 0;
}

.preview, .viewer {
    cursor: pointer;
}

#page-load {
    width: 100%;
    height: 140vh;
    background-color: #ddd;
    opacity: .7;
    position: absolute;
    z-index: 1060;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#page-load p {
    text-align: center;
    margin-top: 38%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 130%;
    color: #000;
}

form p {
    font-weight: bold;
}

.gpDate .dateError {
    float: left;
}

#bas-droit {
    right: 1%;
    bottom: 1%;
    position: absolute;
    font-size: 15px;
}

.messageErreur {
    color: red;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.messageSucces {
    color: green;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

/*---------------------- custom page accueil ------------------------ */
#recap {
    box-sizing: border-box;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
    border: 1px solid #808080;
}

#idTooltipWelcome {
    text-align: center;
}

/*---------------------- footer -------------------------------------*/
footer {
    width: 100%;
    padding-top: .5%;
    padding-bottom: .5%;
    text-align: center;
    color: #F9F9F9;
    font-weight: bold;
    clear: both;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

/*---------------------- tableau : historique de frais  -------------------------------------*/
#tab-recap-histo {
    font-size: 12px;
}

#tab-recap-histo th {
    white-space: nowrap;
}

#div-recap-histo-montant {
    overflow-x: scroll;
    padding: 0;
}

#div-recap-histo-TF {
    padding: 0;
    width: 120px;
}

.colone-recap-histo {
    width: 100px;
    text-align: center;
    margin-left: 120px;
}

/*---------------------- Administration  -------------------------------------*/
/* elargir le tableau pour les faibles résolutions (tableau gestion des demandes de déplacements) */
@media (max-width: 1599px) {
    #idLargeTableContainer {
        width: 92%;
        margin: 0 auto;
    }
}

@media (min-width: 1600px) {
    #idLargeTableContainer {
        width: 92%;
        margin: 0 auto;
    }
}

#ul-adm { /* AMILNOTE-90 liste du menu admin en 2 colonnes */
    visibility: hidden;
    column-count: 2;
    column-gap: 0;

    -moz-column-count: 2; /* Firefox */
    -moz-column-gap: 0; /* Firefox */
    padding-bottom: 20px;
}

#container {
    margin-bottom: 150px;
}


#scrolltab { /* AMILNOTE-25 hauteur des tableaux qui scrollent */
    max-height: 65%;
    height: calc(100% - 44px);
}

#scrolltab .fixed-table-pagination {
    clear: none !important;
}

#collab-scrolltab .fixed-table-pagination {
    clear: none !important;
}

#mini-scrolltab { /* AMILNOTE-25 hauteur des tableaux qui scrollent */
    max-height: 64%;
    height: calc(100% - 54px);
    margin-bottom: 100px;
}

#mini-scrolltab .fixed-table-pagination {
    clear: none !important;
}

#idTableContainer, #idTableContainerSS, #menuTravailleur {
    width: 92%;
    margin: 0 auto;
}

#idTableContainer .dropdown, #idTableContainerSS .dropdown {
    width: 50%;
    margin: auto;
}

.navbar-form.navbar-left {
    padding-bottom: 20px;
    margin-bottom: 15px;
}

#idProfilContainer {
    width: 75%;
    margin: 0 auto;
}

#idProfilContainer.panel-body {
    padding-bottom: 10px;
    padding-top: 10px;
}

#lienFiltre {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    text-decoration: none;
    margin-right: 5px;
}

/*---------------------- Couleur  -------------------------------------*/
.bluck {
    background-color: #0B132B !important;
}

.vaderBlue {
    background-color: #293286;
}

.skywalkerBlue {
    background-color: #2F57A3;
}

.purpleHaze {
    background-color: #CE3089;
}

.darkEarlGrey {
    background-color: #3C3F47;
}

.earlGrey {
    background-color: #C2C1C2;
}

.lightEarlGrey {
    background-color: #EAEAEA;
}

.lighterEarlGrey {
    background-color: #F9F9F9;
}

/*--------------------- Tableau -----------------------------------*/
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.fixed-table-body {
    overflow: auto;
    max-height: 100%;
}

/* SBE-AMNOTE-178 on fait un changement de taille d'un tableau progressivement*/
@media all and (max-height: 600px) {

    #mini-scrolltab .fixed-table-body {
        max-height: calc(45vh);
    }
    #scrolltab .fixed-table-body {
        max-height: calc(45vh);
    }
}

@media all and (max-height: 1200px) and (min-height: 600px) {
    #mini-scrolltab .fixed-table-body {max-height: calc(95vh - 360px);}

    #scrolltab .fixed-table-body {
        max-height: calc(95vh - 360px);
    }
}

@media all and (min-height: 1200px) {

    #mini-scrolltab .fixed-table-body {
        max-height: calc(75vh);
    }

    #scrolltab .fixed-table-body {
        max-height: calc(75vh);
    }
}

@media all and (min-width: 980px) {
    .fixed-table-container{overflow: hidden;}
}

#formFiltre {
    width: 10%;
    display: inline-block;
    float: right;
}

#left-form, #right-form {
    max-width: 400px;
    display: inline-block;
    margin-right: 50px;
}

.pull-right.search {
    margin-left: 20px;
}

.pagination-info {
    margin-left: 10px;
    position : relative ;
    bottom : 9px ;
}

.monthPicker.hasDatepicker, .annuleFiltre {
    margin-left: 20px;
    margin-top: 10px;
}

select.ui-datepicker-month, select.ui-datepicker-year {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}

select.ui-datepicker-month {
    margin-right: 10px !important;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: 8px;
}

/* css for timepicker */
.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
}

.ui-timepicker-div dl dd {
    margin: -25px 0 10px 65px;
}

/*-------------------------- factures ------------------------*/

.sautLigne {padding-bottom: 10px;}

/*-------------------------- disponibilités ------------------------*/
.annuleFiltre {
    cursor: pointer;
}

/*-------------------------- Fix input truncated text ------------------------*/
#btnCreationMultiplePdfFirstPageCollab {
    min-width: 200px;
}

/* Mes notes de frais
----------------------*/
.form-inline-frais { text-align: center; }
    .form-inline-frais .form-inline { display: inline-block; text-align: center; }

.form-inline { display: inline-block;}

.form-inline .form-group {
    margin-right: 0;
    margin-left: 5px;
    vertical-align: bottom;
}

.form-inline-frais label { display: block; }
.form-inline-frais select { font-weight: bold; }

/* Invoive treatment
-----------------------*/
#lblMonthPickerFfrais { font-weight: bold; font-size: medium; }
.section-border { border-bottom:1px solid #e5e5e5; margin-top: 20px; }

/* Gif loader
-------------*/
.fixed-table-loading {
    line-height: 10em;
    font-weight: bold;
    font-size: 1.5em;
}
#modalEdit .fixed-table-loading { line-height: 5em; }
.fixed-table-loading img { display: block; margin: 5px auto; }
img#submitButtonLoadingGif { margin: 20px auto; }

#idModalLoading .modal-header img { margin-top: -.2em; }

/* Modal - mission and absences
-------------------------------- */
#formCommentaire .control-label { text-align: left; }

/* Modal edit mission or absence
--------------------------------*/
#btnDelSelectionModal { float: left; }

#container-button-error{
    width:100%;
    text-align: center;
}

.glyphicon-position {
    position: relative !important;
    top: 2px !important;
}

/* Date picker color
--------------------*/
.ui-widget-header {
    color: #FFFFFF;
    background: #0066CC;
    border-color: #0066CC;
}

.ui-datepicker-calendar { display: none; }

/* Edit collaborator
--------------------*/
#checkbox-addvise {margin-top: 10px; margin-left: 34.4%;}

/* Edit mission & edit contact client
-------------------------------------*/
.CheckBoxClass {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
}
