.time-sch-wrapper, .time-sch-header-wrapper, .time-sch-table-wrapper {

padding-right: 17px;}
.time-sch-table-wrapper{

position: sticky;
}

.time-sch-table {
    width: 100%;
    top: 100px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0; }

.time-sch-period-container {
    float: left;
    position: absolute;
padding-right: 17px;
padding-bottom: 10px;
display: inline-block;}

.time-sch-time-container {
    float: right;
    padding-bottom: 10px;
    }
.time-sch-period-container span.toto{

    display: inline;
    position: relative;
    vertical-align: middle;
}
@media screen and (max-width: 660px){
.time-sch-period-container span.toto{
    display: none;
}
}
.time-sch-button {
    display: inline-flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
  }

.time-sch-time-button-goto {
    margin-right: .5em; }

.time-sch-time-button-today {
    margin-right: .5em; }

.time-sch-content-wrap {
    position: absolute;
    height: calc(100vh - 322px);
    overflow-y:scroll;}

.time-sch-wrapper th, .time-sch-wrapper td {
    border-width: 1px;
    border-style: solid;
    border-top-color: #E1E1E1;
    border-bottom-color: #E1E1E1;
    border-left-color: #C1C1C1;
    border-right-color: #C1C1C1; }
.time-sch-wrapper .time-sch-section-header {
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent; }
.time-sch-wrapper .time-sch-date-header {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
.time-sch-wrapper .time-sch-section {
    width: 200px; }

.time-sch-section-content {
    vertical-align: middle;
    text-align: center;
    overflow: hidden; }

.time-sch-section-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding-left: 1px;
    padding-right: 1px; }

.time-sch-section-container {
    position: relative;
    overflow: hidden; }

.time-sch-item {
    position: absolute;
    min-height: 1em;
    clear: both; }

.time-sch-item-icon {
    float: left;
    width: 1em;
    height: 1em; }

.time-sch-item-content {
    border-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 1; }

.time-sch-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.time-sch-item-event {
    position: absolute;
    top: 1px;
    bottom: 1px;
    width: 1px; }

.time-sch-item-start, .time-sch-item-end {
    position: absolute;
    top: 2px;
    bottom: 2px; }

.time-sch-item-start {
    left: 1px;
    border-right: 2px dotted #FFFFFF; }

.time-sch-item-end {
    right: 1px;
    border-left: 2px dotted #FFFFFF; }

.time-sch-current-time {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: transparent; }

.time-sch-clearfix {
    zoom: 1; }
.time-sch-clearfix :before, .time-sch-clearfix :after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.time-sch-clearfix :after {
    clear: both; }
.time-sch-wrapper.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
@media print {
    .time-sch-current-time {
        display: none;
    }
}

.grid-display-dir-cp {
    display: grid;
    grid-template-columns: 15% 15% 10% 60%;
    grid-gap : 3%;
}
.grid-display-man-rt {
    display: grid;
    grid-template-columns: 15% 10% 75%;
    grid-gap : 3%;
}
.grid-col-1 {
    grid-column: 1;
}
.grid-col-2 {
    grid-column: 2;
}
.grid-col-3 {
    grid-column: 3;
}
#valider{
    min-width: 70px;
    max-height: 34px;
}
body {
    min-width: 520px;
}
