#scheduleContainer {
    font-family: 'Segoe UI', 'Droid Sans', Arial, sans-serif;
    font-size: 11px; }

.time-sch-item-event {
    border-width: 1px;
    border-style: solid;
    width: 2px; }

.item-event-none {
    background-color: green;
    border-color: #004d00; }

.item-event-one {
    background-color: #ff2222;
    border-color: #ee0000; }

.item-event-two {
    background-color: #0e0adc;
    border-color: #0e0adc; }

.item-event-three {
    background-color: orange;
    border-color: #cc8400; }

.item-status-none {
    background-color: green; }

.item-status-one {
    background-color: #6eb771; }

.item-status-two {
    background-color: #346cb1; }

.item-status-three {
    background-color: hsl(39, 100%, 50%); }

.time-sch-item {
    transition: background-color ease 0.1s;
    border-top: 5px;
    border-width: 1px;
    border-style: solid;
    top : 50% !important;
    transform: translateY(-50%); }
div .time-sch-item.item-status-none {
    border-color: #006700; }
.time-sch-item {
    border-color: red; }
.time-sch-item.item-status-none:hover {
    background-color: #00b300; }
.time-sch-item.item-status-one {
    border-color: #6eb771; }
.time-sch-item.item-status-one:hover {
    background-color: #375b38;  }
.time-sch-item.item-status-two {
    border-color: #0000e6; }
.time-sch-item.item-status-two:hover {
    background-color: #1a3658; }
.time-sch-item.item-status-three {
    border-color: #e69500; }
.time-sch-item.item-status-three:hover {
    background-color: #c7750f; }
.time-sch-item.item-status-four {
    border-color: #e64b4b; }
.time-sch-item.item-status-four:hover {
    background-color: #c71620; }

.time-sch-item.ui-draggable-dragging {
    cursor: move; }

.realtime-info {
   /* display: none;*/ }

.period-3day .time-sch-header-0-date-even {
}

.period-1week .time-sch-header-0-date-even {
    background-color: #F0F0F0; }

.period-1month .time-sch-header-1-date-even {
    background-color: #F0F0F0; }

.time-sch-wrapper .time-sch-header-1-current-time {
    background-color: #999999;
    border-color: #888888; }
.time-sch-wrapper .time-sch-header-0-date-start {
    border-left-color: #444444; }
.time-sch-wrapper .time-sch-header-0-date-end {
    border-right-color: #444444; }
.time-sch-header {
position: fixed ;
    top: 0;
}
