.headerLabel {font-size: 80%;font-style: italic;}
.manqueCommande {font-weight: bold;color: red;}
.panel-heading {font-size: 200%;}

.ui-datepicker-calendar {display: none;}
.ui-widget-header {
    color: #000000;
}

.marginBtn {margin-bottom: 40px;}
#margeBtn {margin-bottom: 5px;}
#margeEnBasBoutton {margin-bottom: 3px;}

#monthExtract, #monthExtractSS, #monthExtractFMainSS, #monthExtractFfrais, #monthExtractFMain {
    margin-top: 0px;
    margin-left: 0px;
    right: 7px;
    font-size: medium;
}

#btnMonthPicker, #btnMonthPickerSS, #btnMonthPickerFMainSS, #btnMonthPickerFfrais, #btnMonthPickerFMain {
    height: 34px;
}

#lblMonthPicker, #lblMonthPickerFfrais, #lblMonthPickerFMain, #lblMonthPickerSS, #lblMonthPickerFMainSS {
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 20px;
    font-size: large;
}

.glyphicon-ok {color: darkgreen;}

.pull-right.search { margin-top: 80px; }
